/* Fonts */

@font-face {
font-family: "Brown Sugar Font Family";
src: url("../assets/Brown-Sugar-Font/Brown\ Sugar\ .ttf");
}
@font-face {
font-family: "code";
src: url("../assets/code/CODE/Light.otf");
}
@font-face {
font-family: "anka coder";
src: url("../assets/anka-coder/AnkaCoder-r.ttf");
}
@font-face {
font-family: "Abhaya Libre";
src: url("../assets/Abhaya_Libre/AbhayaLibre-Medium.ttf");
}

/* Webpage */

html {
   background-color: #EDECED;
   margin-left: 50px;
   margin-right: 50px;
}

/* Headers */

#header {
	display: flex;
	justify-content: space-evenly;
}

h1 {
	font-family: 'Brown Sugar Font Family', sans-serif;
	font-size: 120px;
	color: #FFA1A7;
	position: absolute;
	top: 165px; /* Adjust this value to position the h1 vertically on the image */
	right: 100px;
	width: 50%; /* Adjust this value to control how much of the h1 is on the image */
	z-index: 1;
}

h2 {
	font-family: 'Brown Sugar Font Family', sans-serif;
	font-size: 64px;
	color: #000000;
}

h3 {
	position: absolute;
	font-family: 'code', sans-serif;
	font-size: 21px;
	color: #000000;
	top: 90px;
	left: 70px;
}


/* Navigation */

#l {
	font-family: 'Anka Coder', sans-serif;
	font-size: 30px;
	margin: 5px;
	text-align: center;
	padding: 10px;
}

nav li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
	margin: 0 40px;
}

nav ul li a {
	color: #EDECED;
	text-decoration: none;
	padding: 10px;
}

#navbarNav ul {
	flex: 1;
}

#navbarNav ul li a:hover {
	color: #FFA1A7;
	text-decoration: underline;
	margin-right: 0;
}


/*#realnav {
  margin-right: 0;
  display: flex;
  justify-content: space-between;

}
*/

/* Body */

body {
	margin: 0;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.container > .row {
	margin-left: 0;
	margin-right: 0;

}

.col-12, .col-lg {
	padding-left: 0;
	padding-right: 0;
}

.colour {
	color: #FFA1A7;
	font-family: 'Abhaya Libre', sans-serif;
}

.b-w {
	color: #EDECED;
	font-family: 'Abhaya Libre', sans-serif;
}

.left {
	position: relative;
	top: 70px;
	left: 30px;
}

.right {
	position: absolute;
	top: 185px;
	left: 800px;
}

#margin {
	margin-bottom: 0;
}

.container {
	padding-top: 30px;
	padding-bottom: 0;
}

#pg1 {
	margin-top: 150px;
	margin-left: 110px;
	line-height: 30px;
}

#pg2 {
	margin-top: 5px;
	margin-left: 110px;
	line-height: 30px;
}

#img-p {
	position: relative;
	right: 0px;
	top: 0px;
	z-index: -1;
}

#img-p {
	margin-bottom: 0;
}

.image-container {
	display: flex;
}

.img-container figure {
	flex: 1;
}

.image-container figure a {
	text-decoration: none;
}

.image-container figure img:hover {
	transform: scale(1.1);
	transition: transform 0.5s ease-in-out ;
}

#div2 {
	margin-right: 0;
	padding-right: 0;
}

/* Footer */

.footer {
	position: relative;
	top: 70px;
	color: black;
	text-align: center;
	padding: 4px;
	background-color: #FFA1A7;
	margin-top: 0;
}

.footer > p {
	padding-top: 8px;
}
