/* Fonts */

@font-face {
	font-family: "Brown Sugar Font Family";
	src: url("../assets/Brown-Sugar-Font/Brown\ Sugar\ .ttf");
}
@font-face {
	font-family: "code";
	src: url("../assets/code/CODE\ Light.otf");
}
@font-face {
	font-family: "anka coder";
	src: url("../assets/anka-coder/AnkaCoder-r.ttf");
}
@font-face {
	font-family: "Abhaya Libre";
	src: url("../assets/Abhaya_Libre/AbhayaLibre-Regular.ttf");
}

/* Webpage */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: #000;
}
/* Headers */

header {
	display: flex;
	align-items: center;
	gap: 5rem;
	background: #000;
	padding: 1.2rem 3.5rem;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0;
}

h1 {
	font-family: "Brown Sugar Font Family", sans-serif;
	font-size: 120px;
	margin: 0;
	color: #ffa1a7;
}

h2 {
	font-family: "Brown Sugar Font Family", sans-serif;
	font-size: 60px;
	margin: 0;
	color: #edeced;
	line-height: 0.8;
}

h3 {
	font-family: "code", sans-serif;
	font-size: 21px;
	color: #edeced;
}
.active {
	color: #ffa1a7;
}

/* navigation */

nav {
	font-family: "Anka Coder", sans-serif;
	font-size: 28px;
	text-align: center;
	flex: 1;
}

nav ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
	margin: 0;
}

nav ul li a {
	color: #edeced;
	text-decoration: none;
}

nav ul li a:hover {
	color: #ffa1a7;
	text-decoration: underline;
}

.homelink {
	color: transparent;
	text-decoration: none;
}
.homelink:hover {
	text-decoration: none !important;
}

/* Body */

.colour {
	color: #ffa1a7;
	font-family: "Abhaya Libre", sans-serif;
}

.b-w {
	color: #edeced;
	font-family: "Abhaya Libre", sans-serif;
}

.page-title {
	position: absolute;
	top: 170px;
	left: 140px;
	z-index: 1;
}

.image-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	padding: 20px 40px 8px 40px;
}

.img-container figure {
	flex: 1;
}

.image-container figure a {
	text-decoration: none;
}

.image-container figure img:hover {
	transform: scale(1.1);
	transition: transform 0.5s ease-in-out;
	filter: drop-shadow(2px 3px #ffa1a7);
	/* box-shadow: 2px 3px 15px #ffa1a7c0; */
}

.container {
	padding: 30px 0;
}
/* Footer */

.footer {
	color: black;
	text-align: center;
	padding: 8px;
	background-color: #ffa1a7;
}
