/* Fonts */

@font-face {
	font-family: "Brown Sugar Font Family";
	src: url("../assets/Brown-Sugar-Font/Brown\ Sugar\ .ttf");
}
@font-face {
	font-family: "code";
	src: url("../assets/code/CODE\ Light.otf");
}
@font-face {
	font-family: "anka coder";
	src: url("../assets/anka-coder/AnkaCoder-r.ttf");
}
@font-face {
	font-family: "Abhaya Libre";
	src: url("../assets/Abhaya_Libre/AbhayaLibre-Medium.ttf");
}

/* Webpage */

html {
	background-color: #ffa1a7;
	margin-left: 50px;
	margin-right: 50px;
}

/* Headers */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1 {
	font-family: "Brown Sugar Font Family", sans-serif;
	font-size: 120px;
	color: black;
}

h2 {
	font-family: "Brown Sugar Font Family", sans-serif;
	font-size: 64px;
	color: #edeced;
}

h3 {
	position: absolute;
	font-family: "code", sans-serif;
	font-size: 21px;
	color: #edeced;
	top: 90px;
	left: 110px;
}

/* Navigation */

nav {
	font-family: "Anka Coder", sans-serif;
	font-size: 30px;
	margin: 0px;
	text-align: center;
	padding: 5px;
}

nav li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
	margin: 0 40px;
}

nav ul li a {
	color: #edeced;
	text-decoration: none;
	padding: 10px;
}

nav ul li a:hover {
	color: black;
	text-decoration: underline;
}

/* Body */

.page-title {
	text-align: center;
	margin: 0;
}

.colour-photos {
	display: grid;
	grid-template-columns: repeat(5, 200px);
	grid-gap: 50px;
	justify-content: center;
}

.colour-photos img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	position: relative;
}

/* Footer */

.footer {
	position: relative;
	top: 50px;
	color: #ffa1a7;
	text-align: center;
	padding: 4px;
	background-color: black;
}
